#new_event
  border 1px solid rgb(179, 179, 179)
  background-color #F2F2F2
  padding 20px
  .field
    margin-bottom 1em
    label
      font-size 85%
      font-weight bold
      color #666
      display inline-block
      width 110px
    input.wide
      width 575px
    a
      font-size 85%
      &:hover
        cursor pointer
      
    span#end_date
      position relative
      left -10px
      label
        font-weight normal
        padding-right 5px
        width auto
      .ui-datepicker-trigger
        display none
      
  .field.checkbox
    margin-left 114px
    label
      width auto
    input
      margin-top 2px
      
  .actions
    margin 1.5em 0 0 114px
    