.ui-datepicker-trigger
  display none

.ui-datepicker
  padding 0
  -webkit-border-radius 0
  -moz-border-radiius 0
  border-radius 0
  width 189px
  margin-top 3px
  border-top 1px solid #3A589B
  border-bottom 2px solid #3A589B
  .ui-widget-header
    background #6d84b4
    color #555
    border 0
    -webkit-border-radius 0
    -moz-border-radiius 0
    border-radius 0
    a.ui-datepicker-prev
    a.ui-datepicker-next
      border-color yellow
      -webkit-border-radius 0
      -moz-border-radiius 0
      border-radius 0
      width 6px
      height 11px
      border 1px solid transparent
      &:hover
        background transparent
        cursor pointer
        
      span
        display none
      
    a.ui-datepicker-prev
    a.ui-datepicker-prev:hover
      background transparent url(/web/img/arrows.png) no-repeat 0 -35px
      left 8px
      top 8px
    
    a.ui-datepicker-next
    a.ui-datepicker-next:hover
      background transparent url(/web/img/arrows.png) no-repeat -7px -35px
      right 8px
      top 8px
    
    select
      font-size 10px
      font-weight bold
      width 60px
      position relative
      top -2px
      text-align center
    
    select.ui-datepicker-month
      margin-right 2px
    
    select.ui-datepicker-year
      margin-left 2px
    
  .ui-datepicker-calendar
    margin-bottom 0
    thead
      background-color #F2F2F2
      border-bottom 1px solid #C1C1C1
      text-align center
      font-size 69.3%
      th
        width 25px !important
        padding 3px 0 3px 0
        color #555
      
    a
      border 1px solid #FFF
      background transparent
      text-align center
      font-size 85%
      color #555
      padding 3px 1px
      &:hover
        color #3b5998
        border-color #bec8dd
        background-color #dfe4ee
      
    a.ui-state-active
      background-color #DDD
      font-weight bold
    
    .ui-datepicker-unselectable span
      font-size 85%
      text-align center
      padding 3px 0 2px 0
      