#fb_gallery
  background rgba(0, 0, 0, 0.5)
  height 100%
  left 0
  overflow-x auto
  overflow-y scroll
  position fixed
  top 0
  width 100%
  z-index 101
  zoom 1
  
  > div
    width 760px
    margin 0 auto
    padding 50px 0
    background-color #000
    position fixed
    top 0
    
    &:after
      content "."
      display block
      height 0
      clear both
      visibility hidden
    
    > div
      width 656px
      height 500px
      display inline-block
      background transparent url() no-repeat center center
      
    a
      display inline-block
      opacity 0.7
      &:hover
        opacity 1
    a.left
      background transparent url(/web/img/left_arrow.png) no-repeat center center
      padding 0 10px
      width 32px
      height 500px
    a.right
      background transparent url(/web/img/right_arrow.png) no-repeat center center
      padding 0 10px
      width 32px
      height 500px
    a.close
      background transparent url(/web/img/sprite4.png) no-repeat left -49px
      width 15px
      height 15px
      position absolute
      top 15px
      right 15px
      
    span
      display inline-block
      margin 0 auto
      width 640px
      img
        display block
        margin 0 auto
        