select 
  border 1px solid #BDC7D8
  font-size 11px
  padding 0 4px
  margin 0 2px


input
  font-size 85%
  border 1px solid #BDC7D8
  padding 3px
  outline none


#error_explanation
  padding 10px
  background-color #FFEBE8
  border 1px solid #DD3C10
  font-size 85%
  margin-bottom 2em

  #error_explanation h2
    display none

  #error_explanation ul
    margin-top 0
    margin-bottom 0
    