rounded_corners()
  -moz-border-radius arguments !important
  -webkit-border-radius arguments !important
  border-radius arguments !important


.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden


body,
input,
select,
textarea,
.ui-widget
  font-family "lucida grande", tahoma, verdana, arial, sans-serif !important


h1
  font-size 123.1%
  margin 0 0 0.5em 0


a,
a visited
  color #3B5998
  text-decoration none
  
  a:hover
    text-decoration underline


.hide
  display none


.center
  text-align center
  
.center_cheat
  margin 0 auto


.fl
  float left

.fr
  float right
