body
input
select
textarea
.ui-widget
  font-family "lucida grande", tahoma, verdana, arial, sans-serif !important

h1
  font-size 123.1%
  margin 0 0 0.5em 0

a
a:visited
  color #3B5998
  text-decoration none
  &:hover
    text-decoration:underline

.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden

.hide
  display none !important
  
.center
  text-align center
.center_cheat
  margin 0 auto

.fl
  float left
.fr
  float right

a.button
a.button:visited
  white-space nowrap
  font-size 85%
  border 1px solid #888
  background #EEE url(/web/img/sprite2.png) repeat 0px 0px
  height 20px
  line-height 20px
  padding 0 6px
  display inline-block
  color #333
  font-weight bold
  -webkit-box-shadow  rgba(0, 0, 0, 0.0976562) 0 1px 0 0
  span.plus
    display inline-block
    width 10px
    height 10px
    background transparent url(/web/img/sprite3.png) no-repeat center -49px
  span.tag
    display inline-block
    position relative
    top 3px
    width 15px
    height 13px
    background transparent url(/web/img/sprite3.png) no-repeat -10px -15px
  &:hover
    text-decoration none
  