#fb_wrapper
  width 740px
  margin 0 auto

  
#sidebar
  width 168px
  float left
  border-right 1px solid rgb(179, 179, 179)
  
  #sidebar #photo
    height 120px
    margin-bottom 10px
    border-left 2px solid #FFF
    background-color #ECEFF5
    
    #sidebar #photo a.add_photos
      display block
      height 120px
      background #ECEFF5 url(/web/img/add_photo.png) no-repeat center center


#main
  float right
  width 550px
  padding 0 20px
  border-left 1px solid rgb(179, 179, 179)
  position relative
  left -1px

#main.no_sidebar
  float none
  border 0
  width 740px
  padding 0

