#header
  
  #photo
    float left
    display inline-block
    width 180px
    background-color #FFF
    padding 5px
    border 1px solid #CCC
  
    a
      position relative
      display block
      height 160px
      overflow hidden
      background transparent url(/web/img/add_photo.png) no-repeat center center
      
  #title_date_description
    float right
    display inline-block
    width 490px
    h1
      color #333
      font-size 174%
      margin-bottom 0
    h2
      background transparent url(/web/img/calendar.gif) no-repeat 2px center
      padding-left 22px
      font-size 100%
      color #333
      margin-top 0.5em
    p
      color #999
      font-size 131%
  
  a.icon
    position absolute
    display block
    width 17px
    height 17px
    text-indent -9999px
  a#edit.icon
      top 10px
      right 33px
      background transparent url(/web/img/sprite5.png) no-repeat center -18px
  a#favorite.icon
      top 10px
      right 10px
      background transparent url(/web/img/sprite6.png) no-repeat center -121px

ul#friends
  margin 0
  font-size 85%
  font-weight bold
  li.count
    background transparent url(/web/img/sprite7.png) no-repeat left center
    padding-left 20px
    margin-bottom 10px
    font-weight normal
  li.tag_button_container a
    font-size 11px
    margin-bottom 2em
  li
    list-style none
    clear both
    .profile_pic
      width 50px
      float left
      margin 0 10px 5px 0
      position relative
    .name
      margin-top 5px
      float left
      width 95px
      font-weight normal

#photos
  font-size 85%
  margin-bottom 2em
  ul
    margin 0 0 0 -2px
    li
      float left
      padding 0
      display block
      list-style none
      width 112px
      height 68px
      background-color rgb(242, 242, 242)
      border-left 2px solid #FFF
      border-bottom 2px solid #FFF
      a
        display block
        height 68px
        position relative
      a.add_photos
        background transparent url(/web/img/add_photo_small.png) no-repeat center center
    span
      display block

li .profile_pic:hover label
a.fb_gallery:hover label
  position absolute
  top 3px
  right 3px
  display block
  width 11px
  height 11px
  background transparent url(/web/img/sprite_close.png) no-repeat -11px right
  cursor pointer
  &:hover
    background transparent url(/web/img/sprite_close.png) no-repeat -22px right
li .profile_pic:hover label
  left 3px
      
#photo_selector_view
  display none
  margin -1em 0 3em 0
  padding 5px
  border 1px solid #B4BBCD
  position relative
  
  span.nub
    position absolute
    top -7px
    right 10px
    display inline-block
    width 11px
    height 7px
    background transparent url(/web/img/nub.gif) no-repeat right top
    border-bottom 1px solid #FFF
  
  #select_from_container
    background transparent url(/web/img/gray_px.png) repeat-y center top
    > div.fr
      width 272px
    > div.selected
      background-color #ECEFF5
      a:hover
      &:hover
        cursor default
    > div
      width 273px
      height 52px
      overflow hidden
      &:hover
        background-color #ECEFF5
        cursor pointer  
      a
        width 253px
        display inline-block
        text-align center
        padding 10px
        font-weight bold
        text-decoration none
        height 32px
        span
          display block
          color #808080
          font-weight normal
      select
        display none
  
  #photo_choices
    margin 5px 0 0 0
    padding-top 5px
    display none
    border-top 1px solid rgb(229, 229, 229)
    ul
      margin 0
      min-height 140px
      max-height 415px
      overflow-x hidden
      overflow-y scroll
      background transparent url(/web/img/spinner.gif) no-repeat center center
      li
        display block
        width 173px
        height 135px
        list-style none
        float left
        margin-bottom 5px
        cursor pointer
      li.middle
        margin 0 5px
        
.ui-tooltip
.qtip
  max-width 400px
  p:first-of-type
    margin-top 0.5em
  p:last-of-type
    margin-bottom 0.5em
  a
    color #3B5998
  a.gs
    font-weight bold
      