/* NEW */

#new_event
  border 1px solid rgb(179, 179, 179)
  background-color #F2F2F2
  padding 20px
  .field
    margin-bottom 1em
    label
      font-size 85%
      font-weight bold
      color #666
      display inline-block
      width 110px
    a
      font-size 85%
      &:hover
        cursor pointer
      
    span#end_date
      position relative
      left -10px
      label
        font-weight normal
        padding-right 5px
        width auto
      .ui-datepicker-trigger
        display none
      
  .field.checkbox
    margin-left 114px
    label
      width auto
    input
      margin-top 2px
      
  .actions
    margin 1.5em 0 0 114px
    
/* SHOW */

#sidebar #photo
  margin-bottom 10px
  border-left 2px solid #FFF
  background-color #ECEFF5
  a.add_photos
  a.fb_gallery
    position relative
    display block
    height 120px
    background #ECEFF5 url(/web/img/add_photo.png) no-repeat center center
    
#header
  margin-bottom 1em
  .date_line
    color gray
    font-size 85%
  
  .fr
    position relative
    left 3px

ul#friends
  margin 1em 0 0 0
  font-size 85%
  font-weight bold
  
  li.count
    color gray
    margin-bottom 10px
  
  li.tag_button_container a
    font-size 11px
    margin-bottom 2em
  
  li
    list-style none
    clear both
    .profile_pic
      width 50px
      float left
      margin 0 10px 5px 0
      position relative
    
    .name
      margin-top 5px
      float left
      width 95px
      font-weight normal

#photos
  font-size 85%
  margin-bottom 2em
  ul
    margin 0 0 5px -2px
    li
      float left
      padding 0
      display block
      list-style none
      width 108px
      height 68px
      background-color #ECEFF5
      border-left 2px solid #FFF
      border-bottom 2px solid #FFF
      a
        display block
        height 68px
        position relative
      a.add_photos
        background transparent url(/web/img/add_photo_small.png) no-repeat center center
    span
      display block

li .profile_pic:hover label
a.fb_gallery:hover label
  position absolute
  top 3px
  right 3px
  display block
  width 11px
  height 11px
  background transparent url(/web/img/sprite_close.png) no-repeat -11px right
  cursor pointer
  &:hover
    background transparent url(/web/img/sprite_close.png) no-repeat -22px right
li .profile_pic:hover label
  left 3px
      
#photo_selector_view
  display none
  margin -1em 0 1em 0
  padding 5px
  border 1px solid #B4BBCD
  position relative
  
  span.nub
    position absolute
    top -7px
    right 10px
    display inline-block
    width 11px
    height 7px
    background transparent url(/web/img/nub.gif) no-repeat right top
    border-bottom 1px solid #FFF
  
  #select_from_container
    background transparent url(/web/img/gray_px.png) repeat-y center top
    > div.fr
      width 263px
    > div.selected
      background-color #ECEFF5
      a:hover
      &:hover
        cursor default
    > div
      width 264px
      height 52px
      overflow hidden
      &:hover
        background-color #ECEFF5
        cursor pointer  
      a
        width 244px
        display inline-block
        text-align center
        padding 10px
        font-weight bold
        text-decoration none
        height 32px
        span
          display block
          color #808080
          font-weight normal
      select
        display none
  
  #photo_choices
    margin 5px 0 0 0
    padding-top 5px
    display none
    border-top 1px solid rgb(229, 229, 229)
    ul
      margin 0
      min-height 140px
      max-height 415px
      overflow-x hidden
      overflow-y scroll
      background transparent url(/web/img/spinner.gif) no-repeat center center
      li
        display block
        width 168px
        height 135px
        list-style none
        float left
        margin-bottom 5px
        cursor pointer
      li.middle
        margin 0 5px
        