#dialog
  display inline-block
  border 8px solid rgb(134, 134, 134)
  -moz-border-radius 8px
  -webkit-border-radius 8px
  border-radius 8px
  position fixed
  top 50%
  left 50%
  > div
    border 1px solid #3B5998
    h3
      font-size 108%
      color #FFF
      background-color #6D84B4
      padding 5px 10px
      margin 0
      