input
textarea
select
  font-size 85%
  border 1px solid #BDC7D8
  padding 3px
  outline none
  &.wide
    width 595px

select
  padding 0 4px
  margin 0 2px
  border 0

a.form_button
a.form_button:visited
input.submit
  font-size 13px
  display inline-block
  color #FFF
  width auto
  height 25px
  line-height 23px
  padding 0 6px
  font-weight bold
  color #FFF
  background transparent url(/web/img/sprite2.png) repeat-x 0 -48px
  border 1px solid #000
  border-top-color  #29447E
  border-right-color  #29447E
  border-bottom-color  #1A356E
  border-left-color  #29447E
  -webkit-box-shadow  rgba(0, 0, 0, 0.0976562) 0 1px 0 0
  cursor pointer
  &:hover
    text-decoration none

form
  label
    font-weight bold
    font-size 108%
    display none
    margin-bottom 2px
    