#fb_wrapper
  width 760px
  margin 1em auto

#header
  width 719px
  background-color #EDEFF4
  border-bottom 1px solid #DDE3EC
  padding 20px
  margin-bottom 0
  position relative

#sidebar
  padding-top 1.5em
  width 170px
  float left
  border-right 1px solid #DDE3EC

#content
  float right
  width 568px
  padding 1.5em 0 0 20px
  border-left 1px solid #DDE3EC
  position relative
  left -1px
  